@import 'sass/variables';
@import 'sass/mixin';

.SearchBox {
  position: relative;
  height: $baseNumber * 2.5rem;
}


.SearchBox--form {
  position: absolute;
  z-index: 999;
  margin-left: 50%;
  transform: translateX(-50%);
  width: $baseNumber * 20rem;
  height: $baseNumber * 2.5rem;
  border: 2px solid $grey;
  border-radius: $baseNumber * 0.75rem;
  background: $white;
}

.SearchBox--input {
  position: absolute;
  top: 0;
  left: $baseNumber * 3rem;
  right: 0;
  background: none;
  width: $baseNumber * 16.5rem;
  height: $baseNumber * 2.5rem;
  border: none;
  appearance: none;
  outline: none;

  &::placeholder {
  color: $black;
  }
}

.SearchBox--datalist {
  position: absolute;
  top: $baseNumber * 2rem;
  width: $baseNumber * 20rem;
  margin-left: 50%;
  transform: translateX(-50%);
  max-height: $baseNumber * 10rem;
  overflow-y: scroll;
  list-style: none;
  background: $white;
  border: 2px solid $grey;
  border-top: none;
  border-radius: 0 0 $baseNumber * 0.75rem $baseNumber * 0.75rem;
  z-index: 998;
  & li {
    padding: $baseNumber * 1.5rem 0 $baseNumber * 0.75rem 0;
    text-align: center;
    cursor: pointer;
  }
  & li:hover {
    background: $grey;
  }
}

.SearchBox--icon__magnifyingGlass {
  position: absolute;
  top: $baseNumber * 0.5rem;
  left: $baseNumber * 0.75rem;
  height: $baseNumber * 1.5rem;
  width: $baseNumber * 1.5rem;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  fill: $grey;
  outline: none!important;
}

.SearchBox--icon__spinner {
  @include spinner (
    2px solid $grey,
    2px solid $white,
    $baseNumber * 1.5rem,
    $baseNumber * 1.5rem
  );
  position: absolute;
  top: $baseNumber * 0.5rem;
  left: $baseNumber * 0.75rem;
  padding: 0;
  margin: 0;
  background: none;
  outline: none!important;
}