@import 'sass/mixin';
@import 'sass/variables';

#root {
  min-height: 100vh;
  @include gradient;
}

.App {
  padding-top: $baseNumber * 10rem;

  & h1 {
    color: $white;
    text-align: center;
  }
}

.App--p--intro {
  color: $white;
  font-size: $subHeading;
  text-align: center;
}