@import 'sass/mixin';
@import 'sass/variables';

html {
  font-size: 100%;

  @include respondTo('small-screen') {
    font-size: 75%;
  }
}
body {
  margin: 0;
  font-family: $fontFamily;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: $text;
  line-height: $lineHeight;
}
h1 {
  font-size: $heading;
  font-weight: $bold;
  color: $white;
  line-height: $lineHeight;
}

h2 {
  font-size: $subHeading;
  font-weight: $regular;
  color: $white;
  line-height: $lineHeight;
}

h3 {
  font-size: $title;
  font-weight: $regular;
  color: $white;
  line-height: $lineHeight;
}
